<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>go/{{.Link.Name}}</title>
    <link rel="search" type="application/opensearchdescription+xml" title="Go Links" href="/opensearch.xml">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="js-output" class="container"></div>
    <script>
    (function() {
        var args = decodeURIComponent("{{.ArgsEncoded}}");
        var url = decodeURIComponent("{{.URLEncoded}}");
        {{jsSafe .Link.JSSnippet}}
    })();
    </script>
</body>
</html>
